<div class="article-list">
    <h2>{{'article-list-page.all-articles' | translate}}</h2>
    <div id="main-separator"></div>
    <div class="articles-container" id="articles">
        <div *ngFor="let article of articles" (click)="articleService.redirectToArticle(article.id);" class="article">
            <div class="separator"></div>
            <div class="image-container">
                <div class="image" [ngStyle]="{'background-image': 'url(' + article.mainImageUrl + ')'}"></div>
            </div>
            <div class="header">
                <div class="title">{{article.title}}</div>
                <div class="date">{{article.dateAdded}}</div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button *ngIf="areMoreArticlesHidden()" class="show-more main-bg-b shade" (click)="showMoreArticles()"
                (mousedown)="$event.preventDefault()">{{'article-list-page.show-more' | translate}}
        </button>
    </div>
</div>
