<div class="main-image">
    <div class="title-text main-linear-gradient">Dziura ozonowa</div>
</div>
<div class="content">
    <div class="content-container">
        <div class="points">
            <div class="point">
                <img class="icon" src="../../../../assets/img/icons/sun.png" alt="sun">
                <div class="text">Jest to zmniejszenie się powłoki ozonowej, która ochrania nas przed szkodliwym dla zdrowia
                    promieniowaniem UV
                </div>
            </div>

            <div class="text">
                <p>
                    Dziura ozonowa to zjawisko, które polega na redukcji ilości ozonu w stratosferze
                    (a dokładniej w ozonosferze). Jest to bardzo niebezpieczny proces, ponieważ warstwa ozonu chroni nas
                    przed promieniowaniem ultrafioletowym, pochłaniając znaczną część promieni, które docierają do Ziemi ze Słońca.
                </p>
                <p>
                    Ozon tworzy się i rozpada pod wpływem światła słonecznego, dlatego odnotowuje się jego wahania w skali
                    roku; poza tym naturalny stan ozonosfery zmienia się z zależności od szerokości geograficznej. Mimo to
                    naukowcy odnotowali w latach 80. wyraźny spadek zawartości ozonu w stratosferze i dowiedli, że jest to
                    ubytek o charakterze antropogenicznym. Oznacza to, że winę za taki stan rzeczy ponoszą ludzie, a
                    konkretniej wzmożona emisja freonów używanych do produkcji aerozoli. Największe „dziury” w ozonosferze
                    obserwuje się w obszarach podbiegunowych, a zwłaszcza nad Antarktydą.
                </p>
            </div>

            <div class="point">
                <img class="icon" src="../../../../assets/img/icons/eye.png" alt="eye">
                <div class="text">Przyczynia się do wzrostu zachorowań na raka skóry i choroby oczu</div>
            </div>
            <div class="text">
                Głównym zadaniem ozonu stratosferycznego jest pochłanianie promieni UV, które potrafią być bardzo
                szkodliwe dla organizmów żywych. Mogą prowadzić do oparzeń skóry i uszkodzeń komórek, trwale zmieniać
                materiał genetyczny oraz powodować choroby nowotworowe, w tym czerniaka. Oprócz tego promieniowanie UV
                wywołuje spadek odporności i sprawia, że organizm jest bardziej podatny na zakażenia wirusami czy
                pasożytami. Niepowstrzymane przez ozon słońce może pogorszyć stan skóry (jeśli nie smarujemy się kremem
                z filtrem, ryzykujemy przyspieszone procesy starzenia); jest też bardzo niebezpieczne dla oczu i może
                powodować np. zaćmę (dlatego tak ważne jest noszenie okularów przeciwsłonecznych).
            </div>
            <div class="point">
                <img class="icon" src="../../../../assets/img/icons/illness.png" alt="sick human">
                <div class="text">Jest przyczyną osłabienia odporności, a w konsekwencji zwiększenia ryzyka zarażenia chorobami
                    wirusowymi i pasożytniczymi
                </div>
            </div>
            <div class="text">
                Dziura ozonowa jest groźna nie tylko dla ludzi i zwierząt, ale w ogóle dla całej Ziemi – w tym roślin i
                środowiska. Promieniowanie UV szkodzi wielu gatunkom roślin żywieniowych, a redukcja ilości ozonu w
                atmosferze powoduje znaczące zmiany klimatyczne.
            </div>
        </div>
        <div class="description">
            Na podstawie <a href="https://airly.org/pl/dziura-ozonowa-o-co-w-tym-wszystkim-chodzi-przyczyny-i-skutki-przerzedzania-sie-ozonosfery/">
            https://airly.org/pl/dziura-ozonowa-o-co-w-tym-wszystkim-chodzi-przyczyny-i-skutki-przerzedzania-sie-ozonosfery/</a>
        </div>
    </div>
</div>
