@use "../../../../variables" as var;

.main-image {
    background-image: url("../../../../assets/img/photos/earthFromSpace2.jpg");
    background-position: 35% -130px;
    background-size: 2000px;
    background-repeat: no-repeat;

}
