<footer>
    <div class="contact-info">
        <img class="logo" src="assets/img/icons/logo.png" alt="logo">
        <div class="social-media-icons">
            <img class="zoom" src="assets/img/icons/facebook.svg" alt="facebook">
            <img class="zoom" src="assets/img/icons/instagram.svg" alt="instagram">
            <img class="zoom" src="assets/img/icons/github.svg" alt="github">
        </div>
        <div class="email">{{'email' | translate}}</div>
        <div class="privacy-policy" routerLink="/privacy">{{'footer.privacy-policy' | translate}}</div>
    </div>
</footer>
