<nav>
    <div id="nav-logo">
        <img class="zoom" routerLink="/home" [src]="logoPath" alt="logo">
    </div>

    <div class="nav-container">
        <div class="nav-element zoom shade" routerLink="/articles" routerLinkActive="active">
            {{'navbar.articles' | translate}}
        </div>
        <div class="nav-element dropdown">
            <div class="nav-element dropdown-expandable">
                {{'navbar.environment' | translate}}
            </div>
            <div class="dropdown-expandable-content">
                <div class="nav-element zoom shade" routerLink="/pollution-effects-subpages/global-warming-page"
                     routerLinkActive="active">
                    {{'navbar.environment-global-warming' | translate}}
                </div>
                <div class="nav-element zoom shade" routerLink="/pollution-effects-subpages/ozone-page"
                     routerLinkActive="active">
                    {{'navbar.environment-ozone-hole' | translate}}
                </div>
                <div class="nav-element zoom shade" routerLink="/pollution-effects-subpages/smog-page"
                     routerLinkActive="active">
                    {{'navbar.environment-smog' | translate}}
                </div>
            </div>
        </div>
        <div class="nav-element zoom shade" routerLink="/about" routerLinkActive="active">
            {{'navbar.about-us' | translate}}
        </div>
    </div>

    <div id="burgerIcon" class="nav-hamburger" (click)="hamburgerToggle()">
        <div class="nav-element dropdown">
            <div class="nav-element dropdown-expandable">
                <img src="/assets/img/icons/Hamburger_icon.png" alt="MENU">
            </div>
            <div id="burgerContent" class="dropdown-expandable-content" [style.display]="hamburgerVisible"
                 [style.flex-direction]="hamburgerDirection">
                <div class="nav-element zoom shade" routerLink="/articles" routerLinkActive="active">
                    {{'navbar.articles' | translate}}</div>
                <div class="nav-element zoom shade" routerLink="/pollution-effects-subpages/global-warming-page"
                     routerLinkActive="active">
                    {{'navbar.environment-global-warming' | translate}}</div>
                <div class="nav-element zoom shade" routerLink="/pollution-effects-subpages/ozone-page"
                     routerLinkActive="active">
                    {{'navbar.environment-ozone-hole' | translate}}</div>
                <div class="nav-element zoom shade" routerLink="/pollution-effects-subpages/smog-page"
                     routerLinkActive="active">
                    {{'navbar.environment-smog' | translate}}</div>
                <div class="nav-element zoom shade" routerLink="/about" routerLinkActive="active">
                    {{'navbar.about-us' | translate}}</div>
            </div>
        </div>
    </div>
</nav>
