<nav>
    <div id="nav-logo">
        <img routerLink="/home" src="assets/img/icons/logo3.png" alt="LOGO">
    </div>

    <div class="nav-container">
        <div class="nav-element zoom" routerLink="/article/1" routerLinkActive="active">
            {{'navbar.articles' | translate}}
        </div>
        <div class="nav-element dropdown">
            <div class="dropdown-expandable">
                {{'navbar.environment' | translate}}
            </div>
            <div class="dropdown-expandable-content">
                <div class="nav-element zoom" routerLink="/article/2" routerLinkActive="active">
                    {{'navbar.environment.warming' | translate}}
                </div>
                <div class="nav-element zoom" routerLink="/article/3" routerLinkActive="active">
                    {{'navbar.environment.ozone' | translate}}
                </div>
                <div class="nav-element zoom" routerLink="/article/4" routerLinkActive="active">
                    {{'navbar.environment.smog' | translate}}
                </div>
            </div>
        </div>

        <div class="nav-element zoom" routerLink="/article/3" routerLinkActive="active">
            {{'navbar.eco.tips' | translate}}
        </div>
        <div class="nav-element zoom" routerLink="/article/4" routerLinkActive="active">
            {{'navbar.about.us' | translate}}
        </div>
    </div>
</nav>
