<nav>
    <div id="nav-logo">
        <img routerLink="/home" src="assets/img/icons/logo3.png" alt="LOGO">
    </div>

    <div class="nav-container">
        <div class="nav-element" routerLink="/article/1" routerLinkActive="active">Artykuły</div>
        <div class="nav-element" routerLink="/article/2" routerLinkActive="active">Środowisko</div>
        <div class="nav-element" routerLink="/article/3" routerLinkActive="active">EKO-porady</div>
        <div class="nav-element" routerLink="/article/4" routerLinkActive="active">O nas</div>
    </div>
</nav>
