@use "src/variables" as var;

.counter-overhead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    h2 {
        font-size: 3rem;
    }

    .counters-container {
        box-shadow: 0 0 1rem rgb(50 50 50);
        padding: 0.6rem;
        color: var.$black;
        font-size: 2.4rem;
        margin: 0.5em;
        border-radius: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-flow: row wrap;

        div {
            min-width: 13rem;
            height: auto;
            border-radius: 10px;
            margin: 0.6rem 1.6rem;
            display: flex;
            transition: .3s;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: stretch;

            &:hover {
                background-color: #88c6d0;
                transform: scale(1.2);
                cursor: pointer;
            }

            span {
                padding: 1px;

                &.counter-value {
                    width: 170px;
                    text-align: center;
                    font-size: 0.7em;
                    font-weight: bold;
                }

                &.counter-text {
                    width: 170px;
                    font-size: 0.5em;
                    text-align: center;
                    color: #404040;
                }
            }
        }
    }
}
