<div class="counter-overhead">
    <h2>Przyroda w liczbach</h2>
    <div class="counters-container">
        <div *ngFor="let counter of countersData; let i = index" id="counter-{{i}}">
            <span class="counter-value" id="counter-value-{{i}}"></span><span class="counter-text" id="counter-text-{{i}}"></span>
        </div>
<!--        <div id="counter-0">-->
<!--            <span class="counter-value" id="counter-value-0"></span><span class="counter-text" id="counter-text-0"></span>-->
<!--        </div>-->
<!--        <div id="counter-1">-->
<!--            <span class="counter-value" id="counter-value-1"></span><span class="counter-text" id="counter-text-1"></span>-->
<!--        </div>-->
<!--        <div id="counter-2">-->
<!--            <span class="counter-value" id="counter-value-2"></span><span class="counter-text" id="counter-text-2"></span>-->
<!--        </div>-->
<!--        <div id="counter-3">-->
<!--            <span class="counter-value" id="counter-value-3"></span><span class="counter-text" id="counter-text-3"></span>-->
<!--        </div>-->
<!--        <div id="counter-4">-->
<!--            <span class="counter-value" id="counter-value-4"></span><span class="counter-text" id="counter-text-4"></span>-->
<!--        </div>-->
<!--        <div id="counter-5">-->
<!--            <span class="counter-value" id="counter-value-5"></span><span class="counter-text" id="counter-text-5"></span>-->
<!--        </div>-->
    </div>
</div>
