<div class="contact-page">
    <h2>O nas</h2>
    <div class="about-us">
        <div class="intro">
            Jesteśmy grupką 4 znajomych z politechniki poznańskiej których połączyła praca inżynierska. W składzie:
            <ul class="lineup">
                <li>Kamil Kowalczyk</li>
                <li>Krzysztof Charlikowski</li>
                <li>Maciej Leszczyk</li>
                <li>Paweł Kryczka</li>
            </ul>
            Naszym promotorem podczas tworzenia tego projektu był: <br/>
            <span class="professor">Dr Hab. Inż. Maciej Zakrzewicz, profesor Politechniki Poznańskiej.</span><br/>
            Poniżej znajdziecie nieco więcej informacji o każdym z nas a także jak się z nami skontaktować.
        </div>
        <div class="info kamil">
            <img src="assets/img/photos/kamil.jpg" alt="a photo of Kamil"/>
            <div class="text">
                Cześć jestem Kamil, lubie rzecz1, rzecz2, rzecz3. A nie lubie rzecz1, rzecz2, rzecz3. Podczas projektu
                zajmowałem się głównie rzecz1, rzecz2, rzecz3. Uważam że projekt jest ...
            </div>
        </div>
        <div class="info krzysztof">
            <img src="assets/img/photos/krzysiek.jpg" alt="a photo of Krzysztof"/>
            <div class="text">
                Cześć jestem Krzysiek, lubie rzecz1, rzecz2, rzecz3. A nie lubie rzecz1, rzecz2, rzecz3. Podczas projektu
                zajmowałem się głównie rzecz1, rzecz2, rzecz3. Uważam że projekt jest ...
            </div>
        </div>
        <div class="info maciej">
            <img src="assets/img/photos/maciej.jpg" alt="a photo of Maciej"/>
            <div class="text">
                Cześć jestem Maciej, lubie rzecz1, rzecz2, rzecz3. A nie lubie rzecz1, rzecz2, rzecz3. Podczas projektu
                zajmowałem się głównie rzecz1, rzecz2, rzecz3. Uważam że projekt jest ...
            </div>
        </div>
        <div class="info pawel">
            <img src="assets/img/photos/pawel2.jpg" alt="a photo of Pawel"/>
            <div class="text">
                Cześć jestem Paweł, lubie rzecz1, rzecz2, rzecz3. A nie lubie rzecz1, rzecz2, rzecz3. Podczas projektu
                zajmowałem się głównie rzecz1, rzecz2, rzecz3. Uważam że projekt jest ...
            </div>
        </div>
        <div class="contact-info">
            <h2>Jak się z nami skontaktować ?</h2>
            <div class="contact-ways">
                Adres email: <a href="mailto:climatesite@gmail.com">climatesite@gmail.com</a>
            </div>
        </div>
    </div>
</div>
