<div class="contact-page">
    <h2>O nas</h2>
    <div class="about-us">
        <div class="intro">
            {{'about-us-page.intro' | translate}}
            <ul class="lineup">
                <li>Kamil Kowalczyk</li>
                <li>Krzysztof Charlikowski</li>
                <li>Maciej Leszczyk</li>
                <li>Paweł Kryczka</li>
            </ul>
            {{'about-us-page.professor' | translate}}<br/>
            <span class="professor">{{'about-us-page.professor-info' | translate}}</span><br/>
            {{'about-us-page.team-mates' | translate}}<br/>
        </div>
        <div class="info kamil">
            <img src="assets/img/photos/kamil.jpg" alt="a photo of Kamil"/>
            <div class="text">
                {{'about-us-page.kamil' | translate}}
            </div>
        </div>
        <div class="info krzysztof">
            <img src="assets/img/photos/krzysiek.jpg" alt="a photo of Krzysztof"/>
            <div class="text">
                {{'about-us-page.krzysztof' | translate}}
            </div>
        </div>
        <div class="info maciej">
            <img src="assets/img/photos/maciej.jpg" alt="a photo of Maciej"/>
            <div class="text">
                {{'about-us-page.maciej' | translate}}
            </div>
        </div>
        <div class="info pawel">
            <img src="assets/img/photos/pawel2.jpg" alt="a photo of Pawel"/>
            <div class="text">
                {{'about-us-page.pawel' | translate}}
            </div>
        </div>
        <div class="contact-info">
            <h2>{{'about-us-page.contact' | translate}}</h2>
            <div class="contact-ways">
                {{'about-us-page.email-info' | translate}}<a href="{{'about-us-page.email-info' | translate}}">{{'about-us-page.email' | translate}}</a>
            </div>
        </div>
    </div>
</div>
