<div class="main-container">
    <div class="sources-container">
        <div class="title">{{'sources-page.sources' | translate}}</div>
        <ul>
            <li>
                <div>
                    {{'sources-page.about-freepik-start' | translate}} <a href="https://www.flaticon.com/authors/freepik" title="Freepik">{{'sources-page.about-freepik-ref' | translate}}</a> {{'sources-page.about-freepik-end' | translate}}
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </div>
            </li>
            <li>
                <div>
                    {{'sources-page.about-pexels' | translate}} <a href="https://www.pexels.com/" title="Pexels">www.pexels.com</a>
                </div>
            </li>
        </ul>
    </div>
    <img src="assets/img/icons/genetic.png" class="image" alt="sources">
</div>
