<div class="main-container">
    <div class="sources-container">
        <div class="title">Źródła</div>
        <ul>
            <li>
                <div>
                    Ikony stworzone przez <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                    ze strony
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </div>
            </li>
            <li>
                <div>
                    Obrazki pobrane ze strony <a href="https://www.pexels.com/" title="Pexels">www.pexels.com</a>
                </div>
            </li>
        </ul>
    </div>
    <img src="assets/img/icons/genetic.png" class="image" alt="sources">
</div>
