@use "src/variables" as var;

.home-page-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var.$thi-color-dark;
    padding: 30px 10px;

    .content-container {
        box-shadow: 0 0 25px rgb(77 77 77);
        border-radius: 30px;
        background: #8ac5e9;
        margin: 30px 0;
        font-size: 14pt;
        transition: .2s;
        width: 60%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .content-text-wrapper {
            padding: 40px;

            .content-text {
                box-sizing: border-box;

                .title {
                    font-size: 22px;
                    font-weight: 600;
                    margin: 20px 0 30px 20px;
                }

                .point {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    font-size: 18px;
                }

                .icon {
                    width: 55px;
                    height: auto;
                    margin-right: 15px;
                }
            }
        }

        .photo {
            height: 600px;
            width: 40%;
            object-fit: cover;

            &:nth-child(even) {
                border-radius: 0 30px 30px 0;
            }

            &:nth-child(odd) {
                border-radius: 30px 0 0 30px;
            }
        }

        &.be-eco, &.about-ecology, &.eco-facts {
            background-color: var.$sec-color;
            box-shadow: -2px -2px 17px #999,
                        -20px -20px 0px 0px #bcbcbc,
                        -450px -10px 0 -130px var.$thi-color,
                        450px -10px 0 -130px var.$thi-color;
        }

        @media only screen and (max-width: 1000px) {
            width: 100%;
        }

        @media only screen and(max-width: 600px) {
            .photo {
                visibility: hidden;
                width: 0;
            }

            .content-text {
                width: 100%;
            }
        }
    }
}
