<app-deaths-counter></app-deaths-counter>
<div class="pollution-effects-title">Skutki zaniedbania środowiska</div>
<div class="pollution-effect-container warming">
    <div class="pollution-effect warming">
        <div class="pollution-effect-content">
            <div class="title">Globalne ocieplenie</div>
            <div class="points">
                <div class="point">
                    <img class="icon" src="assets/img/icons/warming.png" alt="thermometer">
                    <div>Jest to stopniowe podnoszenie się średniej globalnej temperatury</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/bird.png" alt="bird">
                    <div>Skutkuje wymieraniem gatunków</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/flame.png" alt="flame">
                    <div>Powoduje częstsze występowanie zjawisk ekstremalnych takich jak fale upałów, susze, pożary,
                        huragany, trąby powietrzne
                    </div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/ice.png" alt="iceberg">
                    <div>Jest przyczyną topnienia lodowców</div>
                </div>
            </div>
        </div>
        <img src="assets/img/photos/forestFire.jpg" class="pollution-effect-image" alt="burning forest"/>
    </div>
</div>
<div class="pollution-effect-container ozone">
    <div class="pollution-effect ozone">
        <img src="assets/img/photos/earthFromSpace.jpg" class="pollution-effect-image" alt="cyclone from space"/>
        <div class="pollution-effect-content">
            <div class="title">Dziura ozonowa</div>
            <div class="points">
                <div class="point">
                    <img class="icon" src="assets/img/icons/sun.png" alt="sun">
                    <div>Jest to zmniejszenie się powłoki ozonowej, która ochrania nas przed szkodliwym dla zdrowia
                        promieniowaniem UV
                    </div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/eye.png" alt="eye">
                    <div>Przyczynia się do wzrostu zachorowań na raka skóry i choroby oczu</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/illness.png" alt="sick human">
                    <div>Jest przyczyną osłabienia odporności, a w konsekwencji zwiększenia ryzyka zarażenia chorobami
                        wirusowymi i pasożytniczymi
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pollution-effect-container smog">
    <div class="pollution-effect smog">
        <div class="pollution-effect-content">
            <div class="title">Smog</div>
            <div class="points">
                <div class="point">
                    <img class="icon" src="assets/img/icons/factory.png" alt="factory">
                    <div>W głównej mierze spowodowany emisją spalin i pyłów do atmosfery przez samochody oraz zakłady
                        przemysłowe
                    </div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/rain.png" alt="rain">
                    <div>Jest przyczyną kwaśnych deszczy, które mają bardzo negatywny wpływ na środowisko</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/hospital.png" alt="hospital">
                    <div>Znacząco obniża poziom zdrowia mieszkańców obszarów na których występuje</div>
                </div>
            </div>
        </div>
        <img src="assets/img/photos/smog.jpg" class="pollution-effect-image" alt="smog filled sky"/>
    </div>
</div>
