<app-deaths-counter></app-deaths-counter>
<div class="pollution-effects-title">Skutki zaniedbania środowiska</div>
<div class="pollution-effect-container" style="background: radial-gradient(white, #9a8d2b); border: 1px solid #8a7d1b">
    <div class="pollution-effect warming" style="border: 4px solid #8a7d1b">
        <div class="pollution-effect-content">
            <div class="title">Globalne ocieplenie</div>
            <div class="points">
                <div class="point">
                    <img class="icon" src="assets/img/icons/warming.png">
                    <div>Jest to stopniowe podnoszenie się średniej globalnej temperatury</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/bird.png">
                    <div>Skutkuje wymieraniem gatunków</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/flame.png">
                    <div>Powoduje częstsze występowanie zjawisk ekstremalnych takich jak fale upałów, susze, pożary,
                        huragany, trąby powietrzne
                    </div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/ice.png">
                    <div>Jest przyczyną topnienia lodowców</div>
                </div>
            </div>
        </div>
        <img src="assets/img/photos/forestFire.jpg" class="pollution-effect-image"/>
    </div>
</div>
<div class="pollution-effect-container" style="background: radial-gradient(white, #4155a9); border: 1px solid #314599">
    <div class="pollution-effect ozone" style="border: 4px solid #314599">
        <img src="assets/img/photos/earthFromSpace.jpg" class="pollution-effect-image"/>
        <div class="pollution-effect-content">
            <div class="title">Dziura ozonowa</div>
            <div class="points">
                <div class="point">
                    <img class="icon" src="assets/img/icons/sun.png">
                    <div>Jest to zmniejszenie się powłoki ozonowej, która ochrania nas przed szkodliwym dla zdrowia
                        promieniowaniem UV
                    </div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/eye.png">
                    <div>Przyczynia się do wzrostu zachorowań na raka skóry i choroby oczu</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/illness.png">
                    <div>Jest przyczyną osłabienia odporności, a w konsekwencji zwiększenia ryzyka zarażenia chorobami
                        wirusowymi i pasożytniczymi
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pollution-effect-container" style="background: radial-gradient(white, #d0893b); border: 1px solid #c0792b">
    <div class="pollution-effect smog" style="border: 4px solid #c0792b">
        <div class="pollution-effect-content">
            <div class="title">Smog</div>
            <div class="points">
                <div class="point">
                    <img class="icon" src="assets/img/icons/factory.png">
                    <div>W głównej mierze spowodowany emisją spalin i pyłów do atmosfery przez samochody oraz zakłady
                        przemysłowe
                    </div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/rain.png">
                    <div>Jest przyczyną kwaśnych deszczy, które mają bardzo negatywny wpływ na środowisko</div>
                </div>
                <div class="point">
                    <img class="icon" src="assets/img/icons/hospital.png">
                    <div>Znacząco obniża poziom zdrowia mieszkańców obszarów na których występuje</div>
                </div>
            </div>
        </div>
        <img src="assets/img/photos/smog.jpg" class="pollution-effect-image"/>
    </div>
</div>
