<app-deaths-counter></app-deaths-counter>

<div class="pollution-effects-title">Skutki zaniedbania środowiska</div>
<div class="pollution-effects-container">
    <div class="pollution-effect warming" routerLink="/pollution-effects/global-warming" routerLinkActive="active">
        <div class="text">Globalne ocieplenie</div>
    </div>
    <div class="pollution-effect ozone" routerLink="/pollution-effects/ozone" routerLinkActive="active">
        <div class="text">Dziura ozonowa</div>
    </div>
    <div class="pollution-effect smog" routerLink="/pollution-effects/smog" routerLinkActive="active">
        <div class="text">Smog</div>
    </div>
</div>
