<div class="nasa-counters-overhead">
    <h2>Dane ze strony <a href="https://climate.nasa.gov/" target="_blank">NASA</a></h2>
    <div class="nasa-counters-background">
        <div class="nasa-counters-container main-bg-b">
            <div *ngFor="let counter of nasaCountersData; let i = index" id="nasa-counter-{{i}}" class="nasa-counter">
                <div class="name" [innerText]="nasaCountersData[i].name">
                </div>
                <div class="counter-content">
                    <div class="direction" [innerText]="nasaCountersData[i].dir">
                    </div>
                    <div class="value" [innerText]="nasaCountersData[i].val">
                    </div>
                    <div class="unit" [innerText]="nasaCountersData[i].unit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
