<div class="nasa-counters-overhead">
    <h2><a href="https://climate.nasa.gov/" target="_blank">{{ 'nasa-counters.general.link' | translate }}</a></h2>
    <div class="nasa-counters-background">
        <div class="nasa-counters-container main-bg-b">
            <div *ngFor="let counter of nasaCountersData; let i = index" id="nasa-counter-{{i}}" class="nasa-counter">
                <div class="name" [innerText]="counterNameMapping[nasaCountersData[i].name] | translate">
                </div>
                <div class="counter-content">
                    <div class="direction" [innerText]="counterDirMapping[nasaCountersData[i].dir] | translate">
                    </div>
                    <div class="value" [innerText]="nasaCountersData[i].val">
                    </div>
                    <div class="unit" [innerText]="counterUnitMapping[nasaCountersData[i].name] | translate">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
