@use "src/variables" as var;

.article {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    box-shadow: var.$box-shadow-10;

    header {
        margin-bottom: 50px;

        h1 {
            font-size: 42px;
            margin-bottom: 10px;
            padding: 0 20px;
            text-transform: uppercase;
        }

        img.main-image {
            width: 100%;
            margin-bottom: 10px;
        }

        .date {
            padding: 0 20px;
        }
    }

    .content-container {

        .content {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            h2 {
                font-size: 24px;
                z-index: 1;
                position: relative;
                width: fit-content;

                &::before {
                    z-index: -1;
                    content: "";
                    background: #78d6b0;
                    width: 100%;
                    height: 20px;
                    left: -10px;
                    top: -10px;
                    position: absolute;
                }
            }

            div {
                font-size: 18px;
                text-align: justify;
            }

            img {
                max-height: 400px;
                align-self: center;
                max-width: 100%;
            }
        }

    }

    .content-container, .latest-articles-container {
        padding: 0 60px;
    }

    .latest-articles-container {
        display: flex;
        flex-direction: column;

        .see-more-title {
            font-size: 24px;
            font-weight: 800;
            width: 100%;
            border-top: 1px solid var.$black;
            padding: 20px 0 20px 0;
            text-align: center;
        }

        .latest-articles {
            display: flex;

            .article-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                width: 100%;
                padding: 15px;
                margin: 5px;

                &:hover {
                    cursor: pointer;

                    .title {
                        font-weight: 700;
                    }
                }

                img {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .title {
                    font-size: 18px;
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .article {
        width: 80%;

        .content-container, .latest-articles-container {
            padding: 0 40px;
        }
    }
}

@media all and (max-width: 700px) {
    .article {
        width: 90%;

        .content-container, .latest-articles-container {
            padding: 0 20px;
        }

        .latest-articles-container .latest-articles {
            flex-direction: column;
            align-items: center;

            .article-link {
                width: 80%;

                .title {
                    font-size: 24px;
                }
            }
        }
    }
}
