@use "src/variables" as var;

.pollution-effects-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 20px 5%;
    background-color: var.$thi-color-dark;
}

.pollution-effects-container {
    padding: 70px 5% 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: var.$thi-color;

    .pollution-effect {
        $pollution-effect-size: 25vw;
        border: 3px solid var.$black;
        border-radius: 50%;
        width: $pollution-effect-size;
        height: $pollution-effect-size;
        display: flex;
        justify-content: center;
        align-items: center;

        &.warming {
            background: url("../../../assets/img/photos/forestFire.jpg");
        }

        &.ozone {
            background: url("../../../assets/img/photos/earthFromSpace.jpg");
        }

        &.smog {
            background: url("../../../assets/img/photos/smog.jpg");
        }

        &.warming, &.ozone, &.smog {
            background-size: $pollution-effect-size auto;
        }

        .text {
            width: 80%;
            margin: auto;
            color: var.$white;
            font-size: 30px;
            text-align: center;
            opacity: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            background-blend-mode: darken;
            cursor: pointer;

            .text {
                opacity: 1;
            }
        }
    }

}

@media all and (max-width: 650px) {
    .pollution-effects-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .pollution-effect {
            $pollution-effect-size-sm: 300px;
            width: $pollution-effect-size-sm;
            height: $pollution-effect-size-sm;
            margin: 30px;
            cursor: pointer;

            &.warming, &.ozone, &.smog {
                background-size: $pollution-effect-size-sm auto;
                background-color: rgba(0, 0, 0, 0.2);
                background-blend-mode: darken;
            }

            .text {
                opacity: 1;
                font-size: 36px;
            }
        }

    }
}
