<app-deaths-counter></app-deaths-counter>

<div class="pollution-effects-title">{{'pollution-effects.title' | translate}}</div>
<div class="pollution-effects-container">
    <div class="pollution-effect warming" routerLink="/pollution-effects-subpages/global-warming-page" routerLinkActive="active">
        <div class="text">{{'pollution-effects.global-warming' | translate}}</div>
    </div>
    <div class="pollution-effect ozone" routerLink="/pollution-effects-subpages/ozone-page" routerLinkActive="active">
        <div class="text">{{'pollution-effects.ozone-depletion' | translate}}</div>
    </div>
    <div class="pollution-effect smog" routerLink="/pollution-effects-subpages/smog-page" routerLinkActive="active">
        <div class="text">{{'pollution-effects.smog' | translate}}</div>
    </div>
</div>
