<div class="main-image">
    <div class="title-text main-linear-gradient">Smog</div>
</div>
<div class="content">
    <div class="content-container">
        <div class="points">
            <div class="point">
                <img class="icon" src="../../../../assets/img/icons/cloudy.png" alt="cloudy">
                <div class="text">Smog - definicja i informacje o zjawisku
                </div>
            </div>
            <div class="text">
                Słowo “smog” to mieszanka angielskich słów: “smoke”, czyli “dym” oraz “fog”, czyli “mgła”. Ta
                zbitka wyrazowa rozpowszechniła się na świecie, idealnie określając zjawisko. Można powiedzieć, że
                smog jest właśnie taką sztuczną mgłą, która utworzyła się w sposób nienaturalny, jako efekt działań
                człowieka oraz pewnych niesprzyjających okoliczności przyrody.
            </div>
            <div class="point">
                <img class="icon" src="../../../../assets/img/icons/factory.png" alt="factory">
                <div class="text">W głównej mierze spowodowany emisją spalin i pyłów do atmosfery przez samochody oraz
                    zakłady
                    przemysłowe
                </div>
            </div>
            <div class="text">
                Smog powstaje na skutek wymieszania powietrza z zanieczyszczeniami i spalinami, powstającymi w efekcie
                działalności człowieka. Odpowiadają za to fabryki, coraz większa liczba samochodów, palenie węglem,
                drewnem i innymi paliwami stałymi w piecach. Za jego pojawienie się odpowiada również pogoda, klimat czy
                ogólne uwarunkowania terenu. O wiele trudniej będzie pozbyć się zanieczyszczeń, gdy jakieś miasto leży w
                kotlinie, a bezwietrzna pogoda uniemożliwia ich rozprzestrzenienie się i rozrzedzenie, sprawiając że
                zawisają nad miejscowością.
            </div>
            <div class="point">
                <img class="icon" src="../../../../assets/img/icons/hospital.png" alt="hospital">
                <div class="text">Znacząco obniża poziom zdrowia mieszkańców obszarów na których występuje</div>
            </div>
            <div class="text">
                Skutki zanieczyszczenia powietrza są bardzo łatwo zauważalne – wszyscy widzimy gęsty dym, zalegający
                nad miastem i każdemu z nas gorzej się takim zanieczyszczonym powietrzem oddycha. Skutki smogu są jednak
                o wiele bardziej dalekosiężne, niż się niektórym wydaje – ma on bowiem bardzo duży wpływ na nasze
                zdrowie,
                prowadząc (przy dłuższej ekspozycji) między innymi do:
                <ul>
                    <li>pojawienia się alergii oraz astmy</li>
                    <li>wywołania niewydolności oddechowej</li>
                    <li>obniżenia odporności całego organizmu</li>
                    <li>wywołania chorób układu krwionośnego i serca</li>
                    <li>pojawienia się chorób nowotworowych.</li>
                </ul>
            </div>
        </div>
        <div class="description">
            Na podstawie <a href="https://airly.org/pl/smog-definicja-skutki-i-przyczyny/">https://airly.org/pl/smog-definicja-skutki-i-przyczyny/</a>
        </div>
    </div>
</div>
