@use "../../../../variables" as var;

.main-image {
    width: 100%;
    min-height: 700px;
    background-image: url("../../../../assets/img/photos/smog2.jpg");
    background-position: 30% -380px;
    background-size: 2000px;
    background-repeat: no-repeat;

    .title-text {
        width: 30%;
        min-width: 320px;
        padding: 30px;
        background-color: var.$thi-color-dark;
        color: var.$black;
        font-size: 52px;
        position: relative;
        top: 200px;
        left: 10%;
    }
}

.content {
    box-shadow: 0 -20px 40px var.$thi-color-dark;
    background-color: var.$thi-color-dark;
    width: 100%;
    padding: 5%;

    .content-container {
        background-color: var.$thi-color;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        padding: 10%;

        .points {
            margin-bottom: 100px;

            .point {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                font-size: 14px;

                .icon {
                    width: 120px;
                    height: auto;
                    margin-right: 20px;
                }

                .text {
                    text-align: left;
                }
            }
        }

        .text {
            font-size: 26px;
            text-align: justify;
        }

        .figure {
            margin: 30px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 400px;
            height: 300px;
            font-size: 60px;
        }
    }
}

@media all and (max-width: 600px) {
    .main-image {
        min-height: 400px;
        background-size: 790px;
        background-position: 80% -100px;

        .title-text {
            top: 100px;
        }
    }

    .content {
        padding: 2%;

        .content-container {
            padding-left: 5%;
            padding-right: 5%;

            .points {
                .point {
                    flex-direction: column;
                    margin-bottom: 70px;

                    .icon {
                        margin: 0 0 10px 0;
                    }

                    .text {
                        width: 80%;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}
