<div style="vertical-align:middle; text-align:center" (mouseenter)="onArticle=true" (mouseleave)="onArticle=false">
    <kendo-scrollview class="firstScrollviewWrapper" [data]="items" [width]="width" [height]="height" [arrows]="true" [pageable]="true">
        <ng-template let-item="item">
            <div class="containerDiv">
                <!-- <a href="https://www.w3schools.com"> -->
                    <img src='{{item.path}}' alt='{{item.title}}' [ngStyle]="{maxWidth: '100%', maxHeight: '100%'}" draggable="false" />
                <!-- </a> -->
                <a href='{{item.url}}'>
                <div *ngIf="showText" [ngClass]="{'titleDiv': onArticle}">
                    <h2 class="title">{{item.title}}</h2>
                </div>
                </a>
            </div>
        </ng-template>
    </kendo-scrollview>
</div>
