@use "src/variables" as var;

.containerDiv:hover {
    cursor: pointer;
}

// Zostawiam zakomentowane, zeby przedyskutowac ogarnac, bo mi nie działa i duzo grzebania po szczegol
// https://gregoryalexander.com/blog/2019/4/16/Kendo-scrollview-button-size   Jakis trop dal ale nie dziala
// https://github.com/kendo-labs/angular-kendo/blob/master/demos/mobile-widgets/scrollview.html
// node_modules\@progress\kendo-theme-default\dist\all.css
// node_modules\@progress\kendo-theme-default\scss\pager   -> tutaj rozne pliczki, typu vars i layout moze naprowadza

//$pager-number-selected-bg: rgba($pager-item-selected-bg, $pager-number-selected-opacity) !default;
//.k-primary {
//    border-color: black;
//    color: black;
//    background-color: black;
//}

//#scrollViewWrapper {
//
//    .k-scrollview-wrap {
//        border-top: 3px solid #a8e6f0;
//        border-bottom: 3px solid #a8e6f0;
//    }
//
//    .km-ios #scrollview-container .km-pages .km-current-page {
//        color: black;
//        background-color: #ff009c;
//    }
//}


div {
    color:black;

    kendo-scrollview {
        border-top: 0;
    }
}

.title, .dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
    width: 60%;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    top: 50%;
    left: 10%;
    height: fit-content;
    background: rgba(152, 214, 224, 0.95);
    border-radius: 4px;
    box-shadow: 0 0 30px 10px grey;
}

.dark-overlay {
    background:
        linear-gradient(0deg, rgba(61,61,61,0) 70%, rgba(0,0,0,1) 110%),
        linear-gradient(90deg, rgba(61,61,61,0) 90%, rgba(0,0,0,1) 120%),
        linear-gradient(180deg, rgba(61,61,61,0) 70%, rgba(0,0,0,1) 110%),
        linear-gradient(270deg, rgba(61,61,61,0) 90%, rgba(0,0,0,1) 120%);

}

@media all and (max-width: 700px) {
    .dark-overlay {
        background: none;
    }

    .title {
        position: initial;
        width: 100%;
        padding: 10px;
        padding-top: 20px;
        font-size: 24px;
        text-align: center;
    }
}
