$box-shadow-10: 0 0 10px rgb(50 50 50);
$box-shadow-20: 0 0 20px rgb(50 50 50);

$main-color: #a8e6f0;
$main-color-dark: #98d6e0;
$sec-color: #cccccc;
$sec-color-dark: #bcbcbc;
$teri-color: #78d6b0;
$teri-color-dark: #68c6a0;
$white: white;
$black: black;
