* {
    font-family: Bahnschrift, Arial, serif;
}

body {
    margin: 0;
    // a bunch of interesting colors
    // uncomment to see color preview on the left
    //background: #78d6b0;
    //background: #68c6a0;
    //background: #cccccc;
    //background: #bcbcbc;
    //background: #a8e6f0;
    //background: #98d6e0;
    background: white;
    font-size: 14pt;
}

.main-bg-b {
    background-color: #a8e6f0;
    border: 4px solid #98d6e0;
}

.main-bg {
    background-color: #a8e6f0;
}

.sec-bg-b {
    background-color: #cccccc;
    border: 4px solid #bcbcbc;
}

.sec-bg {
    background-color: #cccccc;
}

.shade {
    transition: .2s;

    &:hover {
        box-shadow: 0 0 10px rgb(50 50 50);
    }
}

.zoom {
    transition: .2s;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgb(50 50 50);
    }
}

.box-shadows {
    // box shadows templates DONT USE AS A CLASS
    //box-shadow: 0 0 10px rgb(50 50 50);
    //box-shadow: 0 0 20px rgb(50 50 50);
}

:link {
    color: #48a680;
    &:hover {
        color: #389670;
    }
}

:visited {
    color: #48a680;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
