* {
    font-family: Bahnschrift, Arial, serif;
}

body {
    margin: 0;
    background: white;
    font-size: 14pt;
}

.main-bg-b {
    background-color: #a8e6f0;
    border: 4px solid #98d6e0;
}

.main-bg {
    background-color: #a8e6f0;
}

.sec-bg-b {
    background-color: #cccccc;
    border: 4px solid #bcbcbc;
}

.sec-bg {
    background-color: #cccccc;
}

.shade {
    transition: .2s;

    &:hover {
        box-shadow: 0 0 10px rgb(50 50 50);
    }
}

.zoom {
    transition: .2s;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgb(50 50 50);
    }
}

:link {
    color: #48a680;
    &:hover {
        color: #389670;
    }
}

:visited {
    color: #48a680;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

$box-shadow-10: 0 0 10px rgb(50 50 50);
$box-shadow-20: 0 0 20px rgb(50 50 50);

$main-color: #a8e6f0;
$main-color-dark: #98d6e0;
$sec-color: #cccccc;
$sec-color-dark: #bcbcbc;
$teri-color: #78d6b0;
$teri-color-dark: #68c6a0;
