@use "src/variables" as var;

.deaths-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var.$thi-color;
    padding: 120px 0 180px 0;

    .deaths-count {
        font-size: 70px;
        font-weight: 600;
    }

    .deaths-explanation {
        font-size: 30px;
        text-align: center;
        padding: 0 40px;
    }

    .deaths-count, .deaths-explanation {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1s ease-out, transform 1s;

        &.shown {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
